<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ServerAddress" value="login.twinstar-wow.com" />
		<add key="ServerPort" value="3724" />
		<add key="ServerBuild" value="5875" />
		<add key="ClientBuild" value="42597" />
		<add key="ClientSeed" value="179D3DC3235629D07113A9B3867F97A7" />
		<add key="ReportedOS" value="OSX" />
		<add key="ReportedPlatform" value="x86" />
		<add key="BNetPort" value="1119" />
		<add key="RealmPort" value="8084" />
		<add key="InstancePort" value="8086" />
		<add key="RestPort" value="8081" />
		<add key="SpellCastEarlyFireOffsetMs" value="0" />
		<add key="ExternalAddress" value="127.0.0.1" />
		<add key="DebugOutput" value="false" />
		<add key="PacketsLog" value="false" />
		<!-- JimsProxy: structured JSONL diagnostics, consumed by the Export Logs feature -->
		<add key="StructuredLog" value="true" />
		<add key="VerboseLog" value="false" />
	</appSettings>
</configuration>
